*,body{
	margin:0;
  padding:0;

}

*{
	box-sizing:border-box
}

button,input,textarea{
  outline:none;
}

*{
  font-family: 'Comic Sans MS', 'Comic Sans', 'cursive'
}

.select{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 38vh;
  padding: 15px;
  background: #333;
  border-radius: 70px;
  width: 40vw;
  color: #ff0057;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
}

.select h1{
  font-size: 4vh;
  text-align: center;
  margin-bottom: 15px;
}

.select button{
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 10px;
  padding: 7px 15px 7px 15px;
  font-size: 14px;
  color: #ff0057;
  background: #333;
  border: 1px solid #ff0057;
  border-radius: 15px;
  transition: .3s ease-in-out;
}

.select button:hover{
  color: #fff;
  background: #ff0057;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}